body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	padding-bottom: 40px;
  	background-color: #009c8b;
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}
a {
  color: #A83F2A;
}
h1 small {
	color: #162836;
}