

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: Helvetica, Arial;
    height: 100%;
    margin-bottom: 100px;
    vertical-align: baseline;
    background-color: white;
}

header {
    box-sizing: border-box;
    margin: 40px;
    height: 100px;
    max-width: 1200px;
}

main {
    margin: 40px;
    max-width: 1200px;
    background-color: #efeddf;
}

footer {
    position: absolute;
    height: 100px;
    margin: 40px;
    max-width: 1200px;
}

.header-nav {
    float: right;
}

.header-div {
    float: left;
}

.login, .register {
    background-color: white;

}

.login_form, .register_form {
    background: rgba(239,237,223, 0.75);
    max-width: 500px;
    border-radius: 3px;
    padding: 1em 1em;
}

.register_btn, .login_btn{
    margin: 0 auto;
    height: 40px;
    max-width: 200px;
    border-radius: 3px;
    border: 0;
    background: rgba(225,0,107,0.75);
    color: white;
}

form label {
    font-size: 1.4em;
    margin: 0 0 5px;
    text-transform: uppercase;
}

input {
    border-radius: 3px;
}















